<%-include('../root/header')-%>
		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h1>新增報到與刷退紀錄</h1>
					</header>

					<!-- Form -->

					<form method="post" action="#">
						<!--<div class="row uniform">-->
						<div align="center">
							<div class="6u 12u$(xsmall)">
								<input type="text" name="email" id="userID" value="" placeholder="參與者email" />
							</div>
							<br>
							<br>
							<h3 class="inline">報到時間：</h3>
							<input class="inline" name="timein" type="datetime-local" id="checkin-addDateTime" placeholder="2014-09-18">
							<br>
							<br>
							<br>
							<h3 class="inline">刷退時間：</h3>
							<input class="inline" name="timeout" type="datetime-local" id="checkout-addDateTime" placeholder="2014-09-18">
							<br>
							<br>
							<br>

							<!-- Break -->
							<div class="12u$">
								<ul class="actions">
									<li><input type="submit" value="新增報到與刷退紀錄" /></li>
									<li><input type="reset" value="重填資料" class="alt" /></li>
								</ul>
							</div>
						</div>
					</form>
				</div>
			</section>
<%-include('../root/footer')-%>