<%-include('../root/header')-%>
		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h1>新增刷退紀錄</h1>
					</header>
					<form method="post" action="#">
						<!--<div class="row uniform">-->
						<div align="center">
							<div class="6u 12u$(xsmall)">
								<input type="text" name="email" id="userID" value="" placeholder="參與者email" />
							</div>
							<br>
							<h3 class="inline">刷退時間：</h3>
							<input class="inline" name="time" type="datetime-local" id="checkout-addDateTime">
							<br>
							<br>							
							<!-- Break -->
							<div class="12u$">
								<ul class="actions">
                                    <li><input type="submit" value="新增刷退紀錄" /></li>
								</ul>
							</div>
						</div>
					</form>
				</div>
			</section>
<%-include('../root/footer')-%>