<%-include('../root/header')-%>
		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h1>新增活動</h1>
					</header>

					<!-- Form -->

					<form method="post" action="#">
						<!--<div class="row uniform">-->
						<div align="center">
							<h4>活動id(屆時將自動生成)</h4>

							<div class="6u 12u$(xsmall)">
                                <input type="text" name="name" id="event_name" value="" placeholder="活動名稱" />
							</div>
							<br>
							<div class="6u 12u$(xsmall)">
								<input type="datetime-local" name="time" id="event_date" value="" placeholder="活動日期" />
                            </div>
                            <br>
                            <div class="6u 12u$(xsmall)">
                                <input type="text" name="location" id="event_location" value="" placeholder="活動地點" />
							</div>
							<br>
							<div class="6u$ 12u$(xsmall)">
								<input type="number" name="expense" id="investment" value="" placeholder="投入資金" />
								<div><%= balance %></div>
							</div>
							<div class="6u 12u$(xsmall)">
									<input type="text" name="link" id="event_ncculink" value="" placeholder="活動報名連結" />
							</div>
							<br>
                            <p>請注意！當你新增此活動後，該活動的投資金額不可再做更動。
                                <br>
                                若有需要更動，請刪除整筆活動再行新增。</p>
							<div class="12u$">
								<ul class="actions">
									<li><input type="submit" value="新增活動" /></li>
									<li><input type="reset" value="重填資料" class="alt" /></li>
								</ul>
							</div>
						</div>
					</form>
					</div>
			</section>
<%-include('../root/footer')-%>