<%-include('../root/header')-%>


<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h1>我辦的活動</h1>
						<hr>
						<p>您尚未舉辦活動，請點擊新增活動按鈕進行新增。</p>
					</header>
					<!--button-->
					<ul class="actions fit">
						<!--<li><a href="#" class="button special fit">錢包查詢餘額</a></li>-->
						<li><a href="/sponsor/events/createevent" class="button fit">新增活動</a></li>


					</ul>
					</div>
            </section>
            
<%-include('../root/footer')-%>