<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <h2>Contact Us</h2>
        <ul class="actions">
            <!-- <li><span class="icon fa-phone"></span> <a href="#">(000) 000-0000</a></li> -->
            <!--<li><span class="icon fa-map-marker"></span> 123 Somewhere Road, Nashville, TN 00000</li>-->
            <li><span class="icon fa-envelope"></span> <a href="#">nccupoint@gmail.com</a></li>
            <br>
            <br>
            <li><a href="http://attend.nccu.edu.tw/QApage">Q ＆ A</a></li>
        </ul>
    </div>
</footer>

<!-- Scripts -->
    <script src="/stylesheets/assets/js/jquery.min.js"></script>
    <script src="/stylesheets/assets/js/jquery.scrolly.min.js"></script>
    <script src="/stylesheets/assets/js/skel.min.js"></script>
    <script src="/stylesheets/assets/js/util.js"></script>
    <script src="/stylesheets/assets/js/main.js"></script>
    <script src="/javascripts/event.js"></script>
</body>
</html>