<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>NCCU Attendance</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/assets/css/main.css" />
		<link rel="stylesheet" href="/stylesheets/assets/css/edit.css">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="/javascripts/bootstrap.min.js"></script>
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<nav class="left">
					<a href="#menu"><span>Menu</span></a>
				</nav>
				<script type="text/javascript">
				    //alert('location.code' + location.search);
				</script>
				<a href="http://attend.nccu.edu.tw/login_index/" class="logo">NCCU Attendance</a>
				<nav class="right">
					<a href="./" class="button alt">Log out</a>
				</nav>
			</header>

		<!-- Menu -->
			<nav id="menu">
				<p>您好，<%=username%></p>
				<ul class="links">
					<li><a href="http://attend.nccu.edu.tw/login_index/">首頁</a></li>
					<li><a href="http://attend.nccu.edu.tw/user_profile">個人資料</a></li>
					<li><a href="http://attend.nccu.edu.tw/eventslist">活動列表</a></li>
					<li><a href="http://attend.nccu.edu.tw/user/record">我參加的活動</a></li>
					<li><a href="http://attend.nccu.edu.tw/sponsor/events">我辦的活動</a></li>
					<li><a href="http://attend.nccu.edu.tw/qrcodelist">QRCode</a></li>
					<li><a href="http://attend.nccu.edu.tw/">前往錢包首頁</a></li>
				</ul>
				<!--<ul class="actions vertical">
					<li><a href="#" class="button fit">Login</a></li>
				</ul>-->
			</nav>