<%-include('../root/header')-%>

		<!-- Menu -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index_after_login.html">首頁</a></li>
					<li><a href="eventslist_after_login.html">活動列表</a></li>
					<li><a href="couponlist_after_login.html">電子禮券排行榜</a></li>
					<li><a href="myrecords.html">我參加的活動</a></li>
					<li><a href="myevents.html">我辦的活動</a></li>
					<li><a href="qrcodelist.html">QRCode<img src="../images/fire.png" height="25" width="25"/></a></li>
				</ul>
				<!--<ul class="actions vertical">
					<li><a href="#" class="button fit">Login</a></li>
				</ul>-->
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="content">
					<h1><%= msg %></h1>
					<ul class="actions">
						<li><a href="#two" class="button scrolly">瞭解更多</a></li>
					</ul>
				</div>
			</section>

			<section id="two" class="wrapper style1 special">
				<div class="inner">
					<h2>關於我們</h2>
					<p>身為活動主辦方的您，辛辛苦苦辦了個活動卻沒人參加嗎？<br />
						身為學生的您，每次參加抽獎活動卻怎麼抽都抽不到嗎？<br />
						無論您是什麼角色，您的煩惱我們都聽到了！<br />
						透過我們的平台，您將場場活動爆滿、獎項也一定拿得到！</p>
				</div>
			</section>
		-->

		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner flex flex-3">
					<div class="flex-item box">
						<div class="image fit">
							<img src="../images/pic02.jpg" alt="" />
						</div>
						<div class="content">
							<h3>活動名稱（隨機）</h3>
							<p>活動時間：<br/>
								活動地點：</p>
						</div>
					</div>
					<div class="flex-item box">
						<div class="image fit">
							<img src="../images/pic03.jpg" alt="" />
						</div>
						<div class="content">
							<h3>活動名稱（隨機）</h3>
							<p>活動時間：<br/>
								活動地點：</p>
						</div>
					</div>
					<div class="flex-item box">
						<div class="image fit">
							<img src="../images/pic04.jpg" alt="" />
						</div>
						<div class="content">
							<h3>活動名稱（隨機）</h3>
							<p>活動時間：<br/>
								活動地點：</p>
						</div>
					</div>
				</div>
				<!--button-->
				<div class="inner">
				<ul class="actions fit">
					<li><a href="#" class="button fit">錢包查看餘額</a></li>
				</ul>
				</div>
			</section>
<%-include('../root/footer')-%>