<!DOCTYPE html>
<html>
  <head>
    <title>QRtest  | NCCU Attendance</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>QRtest  | NCCU Attendance</h1>
    <img src="./images/QRcode/fire.png">
    <br>
    <img src="<%= qr_pathOUT %>" />
    <img src="./images/QRcode/pic02.jpg">
    <br>
    <img src="./images/QRcode/qrcode_5d63cd5879a53c50b4a0f141_in.jpg">


    <!-- <img src="<%= qr_pathIN%>"> -->
  </body>
</html>
