<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>NCCU Attendance | 管理員介面</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/assets/css/main.css" />
		<link rel="stylesheet" href="/stylesheets/assets/css/edit.css">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="/javascripts/bootstrap.min.js"></script>
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<nav class="left">
					<a href="#menu"><span>Menu</span></a>
				</nav>
				<a href="https://attend.nccu.edu.tw" class="logo">
					<img src="../../../images/header.png" class="logo_img" height="50" width="323"/>
				</a>
				<nav class="right">
					<a href="./" class="button alt">Log out</a>
				</nav>
			</header>

		<!-- Menu -->
			<nav id="menu">
				<ul class="links">
					<li><a href="https://attend.nccu.edu.tw/login_index">使用者首頁</a></li>
					<li><a href="https://attend.nccu.edu.tw/admin/events">活動列表</a></li>
					<li><a href="https://attend.nccu.edu.tw/admin/user/userlist">使用者列表</a></li>
					<li><a href="https://attend.nccu.edu.tw/user/record">我參加的活動</a></li>
					<li><a href="https://attend.nccu.edu.tw/sponsor/events">我辦的活動</a></li>
					<li><a href="https://attend.nccu.edu.tw/qrcodelist">QRCode</a></li>
				</ul>
				<!--<ul class="actions vertical">
					<li><a href="#" class="button fit">Login</a></li>
				</ul>-->
			</nav>